{{#if main}}
    <div class="pills">
        <table class="courses-table">
            <thead>
                <tr>
                    <th>Finished Courses</th>
                    <th>Current Courses</th>
                    <th>Future Courses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td class="courses-section">
                        {{#each finishedcourses}}
                            <div class="pill">
                                <div class="pill-text">{{this.id}}</div>
                            </div>
                        {{/each}}
                    </td>
                    <td class="courses-section">
                        <div class="pill-text">CS321</div>
                        <div class="pill-text">CS367</div>
                        <div class="pill-text">CS483</div>
                    </td>
                    <td class="courses-section">
                        {{#each futurecourses}}
                            <div class="pill">
                                <div class="pill-text">{{this.courseName}}</div>
                            </div>
                        {{/each}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{{/if}}
