.section {
  .item {
    &.credits {
      .columns {
        padding: 10px;

        .courses-table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            padding: 10px;
            border: 1px solid var(--mason-section-accent2);
          }
          /* background color for headers */
          th {
            background-color: var(--mason-section-accent2);
          }
          /* Background color for rows */
          td {
            background-color: var(--mason-section-background3);
            vertical-align: top;
          }

          .courses-section {
            .column {
              display: flex;
              margin-bottom: 10px;

              .column-title {
                width: 100px;
                padding: 3px 10px;
                text-align: left;
                border-radius: 2px 0 0 2px;
              }

              .column-text {
                flex: 1;
                padding: 5px 10px;
                background-color: var(--mason-section-accent1);
                border-radius: 0 2px 2px 0;
              }
            }
          }
        }
      }
    }
  }
}
