.section {
  .item {
    &.info {
      .pills {
        padding: 10px;

        .pill {
          display: flex;
          .pill-title {
            padding: 2px 10px;
            width: 60px;
            text-align: right;
            background-color: var(--mason-section-green);
            border-radius: 2px 0 0 2px;
            margin-bottom: 2px;
          }

          .pill-text {
            padding: 2px 10px;
            background-color: var(--mason-section-light-green);
            border-radius: 0 2px 2px 0;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
