.section {
  .item {
    &.courses {
      .week {
        display: flex;
        flex-direction: row;

        .time {
          .time-title {
            background: var(--mason-section-green);
            padding: 5px;
          }

          .time-event-future {
            height: 30px;
            padding: 5px;
            background-color: var(--mason-section-green);
            border-top: 1px solid gray;
          }
        }

        .day {
          border-right: 1px solid var(--mason-section-gray);
          flex: 1;

          .day-title {
            background: var(--mason-section-green);
            border-right: none;
            padding: 5px;
          }

          .day-events {
            position: relative;

            .day-event {
              background-color: var(--mason-section-light-purple);
              position: absolute;
              padding: 5px;
              left: 0px;
              width: 100%;

              &:hover {
                cursor: pointer;
                &:before {
                  content: attr(start);
                  position: absolute;
                  top: -10px;
                  right: 2px;
                  font-size: 60%;
                  width: 50px;
                  text-align: right;
                }
                &:after {
                  content: attr(end);
                  position: absolute;
                  bottom: -10px;
                  right: 2px;
                  font-size: 60%;
                  width: 50px;
                  text-align: right;
                }
              }
              &.CS321-002 {
                background-color: var(--mason-section-light-blue);
              }
              &.CS330-005 {
                background-color: var(--mason-section-light-purple);
              }
              &.CS330-001 {
                background-color: var(--mason-section-dark-blue);
              }
              &.CS262-003 {
                background-color: var(--mason-section-dark-purple);
              }
              &.CS306-001 {
                background-color: var(--mason-section-light-pink);
              }
              &.CS367-004 {
                background-color: var(--mason-section-dark-pink);
              }
              &.CS471-001 {
                background-color: var(--mason-section-light-orange);
              }
              &.CS367-003 {
                background-color: var(--mason-section-dark-orange);
              }
              &.CS483-002 {
                background-color: #5f9ea0;
              }
              &.CS367-001 {
                background-color: #bc8f8f;
              }
            }
          }
        }
      }
    }
  }
}
