.section {
    .item {
        &.future {
            .week {
                display: flex;
                flex-direction: row;

                .time {
                    .time-title {
                        background: var(--mason-section-accent2);
                        padding: 5px;
                    }

                    .time-event {
                        display: flex;
                        height: 40px;
                        width: 100px;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--mason-section-accent2);
                        border-top: 1px solid rgb(0, 0, 0);
                        border-right: 1px solid rgb(0, 0, 0);
                    }
                }

                .day {
                    border-right: 1px solid var(--mason-section-background1);
                    flex: 1;
                    position: relative;

                    .day-title {
                        background: var(--mason-section-accent2);
                        border-right: none;
                        padding: 5px;
                    }

                    .day-events {
                        position: relative;

                        .day-event {
                            background-color: var(--mason-section-light-purple);
                            position: absolute;
                            padding: 5px;
                            left: 0px;
                            width: 100%;

                            .remove-course {
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                background-color: red;
                                color: white; 
                                border: none;
                                cursor: pointer;
                                width: 20px; 
                                height: 20px; 
                                font-size: 10px; 
                                line-height: 18px; 
                                display: none; 
                                
                            }
                            &:hover .remove-course {
                                display: block; 
                            }

                            &:hover {
                                cursor: pointer;
                                &:before {
                                    content: attr(start);
                                    position: absolute;
                                    top: -10px;
                                    right: 2px;
                                    font-size: 60%;
                                    width: 50px;
                                    text-align: right;
                                    color: var(--mason-section-head-text);
                                }
                                &:after {
                                    content: attr(end);
                                    position: absolute;
                                    bottom: -10px;
                                    right: 2px;
                                    font-size: 60%;
                                    width: 50px;
                                    text-align: right;
                                    color: var(--mason-section-head-text);
                                }
                            }
                            &.CS321-002 {
                                background-color: var(
                                    --mason-course-light-blue
                                );
                            }
                            &.CS330-005 {
                                background-color: var(
                                    --mason-course-light-purple
                                );
                            }
                            &.CS330-001 {
                                background-color: var(--mason-course-dark-blue);
                            }
                            &.CS262-003 {
                                background-color: var(
                                    --mason-course-dark-purple
                                );
                            }
                            &.CS306-001 {
                                background-color: var(
                                    --mason-course-light-pink
                                );
                            }
                            &.CS367-004 {
                                background-color: var(--mason-course-dark-pink);
                            }
                            &.CS471-001 {
                                background-color: var(
                                    --mason-course-light-orange
                                );
                            }
                            &.CS367-003 {
                                background-color: var(
                                    --mason-course-dark-orange
                                );
                            }
                            &.CS483-002 {
                                background-color: var(
                                    --mason-course-light-teal
                                );
                            }
                            &.CS367-001 {
                                background-color: var(
                                    --mason-course-light-salmon
                                );
                            }
                        }
                    }

                    /* horizontal gridlines for each hour */
                    &::before {
                        content: "";
                        position: absolute;
                        top: -9px; /* aligning for each hour (i know, it's scuffed) */
                        left: 0;
                        right: 0;
                        height: 100%;
                        background-image: repeating-linear-gradient(
                            to bottom,
                            transparent,
                            transparent 39px,
                            rgb(0, 0, 0) 39px,
                            rgb(0, 0, 0) 40px
                        ); /* Repeat every 40 pixels */
                        pointer-events: none; /* allow clicks to go through */
                    }
                }
            }

            dialog {
                margin: auto;
                width: 350px;
                height: 300px;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 3px #fff;
                .dialog-main {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .dialog-header {
                        padding: 10px;
                        background-color: var(--mason-section-accent2);
                        color: #fff;
                    }
                    .dialog-body {
                        padding: 10px;
                        flex: 1;
                    }

                    .dialog-footer {
                        background-color: var(--mason-section-background2);
                        padding: 10px;
                    }
                }

                &::backdrop {
                    background-color: var(--mason-section-accent2);
                    opacity: 0.3;
                }
            }
        }
    }
}
