<header class="header">
  <div class="header-logo-title">
    <div class="header-logo"></div>
    {{! <div class="header-title">Mason Dash</div> }}
  </div>
  <div class="header-user"></div>
  <div class="header-links">
    <select class="select-theme">
      <option class="select-theme-value" value="default">Dark</option>
      <option class="select-theme-value" value="light">Light</option>
      <option class="select-theme-value" value="night">Night</option>
    </select>
    <button class="header-link" data-action="exit"></button>
  </div>
</header>
<section class="section">
  <div class="item courses" data-type="courses">
    <div class="item-header">
      <div class="item-title">Courses</div>
    </div>
    <div class="item-body"></div>
  </div>
  <div class="item info" data-type="info">
    <div class="item-header">
      <div class="item-title">Info</div>
    </div>
    <div class="item-body"></div>
  </div>
  <div class="item future" data-type="future">
    <div class="item-header">
      <div class="item-title">Future Schedule Builder</div>
      <div class="item-controls">
        <select></select>
      </div>
    </div>
    <div class="item-body"></div>
  </div>
  <div class="item map" data-type="map">
    <div class="item-header">
      <div class="item-title">Map</div>
      <div class="item-controls">
        <select></select>
      </div>
    </div>
    <div class="item-body"></div>
  </div>
  <div class="item credits" data-type="credits">
    <div class="item-header">
      <div class="item-title">Progress</div>
    </div>
    <div class="item-body"></div>
  </div>
</section>
<footer class="footer">
  <p>&copy; 2024 Mason Dash</p>
</footer>