.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  .header-logo-title {
    display: flex;
    align-items: center;
    .header-logo {
      width: 50px;
      aspect-ratio: 1;
      padding: 0 10px;
      background-image: url("../../images/logo.png");
      background-repeat: none;
      background-size: cover;
    }
    .header-title {
      padding: 0 10px;
      font-weight: bold;
      color: white;
    }
  }
  .header-user {
    padding: 0 10px;
    flex: 1;
    text-align: center;
  }
  .header-links {
    display: flex;
    padding: 0 10px;
    gap: 10px;

    button {
      background-color: green;
      color: white;
      border: solid 2px white;
      border-radius: 10px;
      padding: 7px;
      transition: all 0.3s ease;
      font-weight: bold;
      &:hover {
        color: green;
        background-color: white;
        cursor: pointer;
        border-color: green;
        scale: 105%;
      }
    }
  }
}

.footer {
  font-size: 75%;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  border-top: 2px solid black;
  color: white;
}

.section {
  font-size: 75%;
  flex: 1;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-areas:
    "courses info"
    "future map"
    "credits credits";
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;

  .item {
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    color: white;
  }

  .courses {
    grid-area: courses;
  }

  .info {
    grid-area: info;
  }

  .future {
    grid-area: future;
  }

  .map {
    grid-area: map;
  }

  .credits {
    grid-area: credits;
  }
}

@media (max-width: 650px) {
  .section {
    flex: 1;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-areas:
      "courses"
      "info"
      "future"
      "map"
      "credits";
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
