<header class="header">
  <div class="header-logo-title">
    <div class="header-logo"></div>
    <div class="header-title">Mason Dash</div>
  </div>
  <div class="header-user"></div>
  <div class="header-links">
    <button class="header-link" data-action="home">Home</button>
    <button class="header-link" data-action="exit">Exit</button>
  </div>
</header>
<section class="section">
  <div class="item courses">courses</div>
  <div class="item info">info</div>
  <div class="item future">future</div>
  <div class="item map">map</div>
  <div class="item credits">credits</div>
</section>
<footer class="footer">
  <p>&copy; 2024 Mason Dash</p>
</footer>
