.section {
  .item {
    &.courses {
      .week {
        display: flex;
        flex-direction: row;

        .time {
          .time-title {
            background: var(--mason-section-green);
            padding: 5px;
          }

          .time-event {
            height: 30px;
            padding: 5px;
            background-color: var(--mason-section-green);
            border-top: 1px solid gray;
          }
        }

        .day {
          border-right: 1px solid var(--mason-section-green);
          flex: 1;

          .day-title {
            background: var(--mason-section-green);
            padding: 5px;
          }

          .day-events {
            position: relative;

            .day-event {
              background-color: var(--mason-section-light-orange);
              // border-top: 1px solid white;
              // border-bottom: 1px solid white;
              position: absolute;
              padding: 5px;
              left: 0px;
              width: 100%;

              &:hover {
                cursor: pointer;
                &:before {
                  content: attr(start);
                  position: absolute;
                  top: -10px;
                  right: 2px;
                  font-size: 60%;
                  width: 50px;
                  text-align: right;
                }
                &:after {
                  content: attr(end);
                  position: absolute;
                  bottom: -10px;
                  right: 2px;
                  font-size: 60%;
                  width: 50px;
                  text-align: right;
                }
              }

              &.CS321 {
                background-color: var(--mason-section-light-blue);
              }
              &.CS330 {
                background-color: var(--mason-section-light-purple);
              }
              &.CS262 {
                background-color: var(--mason-section-dark-orange);
              }
            }
          }
        }
      }
    }
  }
}
