{{#if main}}
    <div class="login-user">
        <div class="login-box">
            <div class="login-intro-box"><img
                    src="../../images/logo.png"
                    width="40px"
                /><h4 class="login-intro">Hello User,<br />Welcome to Mason
                    Dash!📗</h4></div>
            <div class="divider"></div>
            <div class="login-form"><h5 class="form-title">Sign In</h5><input
                    class="login-name"
                    type="password"
                    placeholder="Enter GNumber"
                />
                <button class="login-button">Login</button></div>

        </div>
    </div>
{{/if}}