* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Cambria, serif;
    font-size: 18px;
    background: rgb(26,167,23);
    background: linear-gradient(0deg, rgba(26,167,23,1) 50%, rgba(253,248,45,1) 100%);
}