<div class="map-container">
  <div class="map-section-1">
    <div class="map-image">
        map image
    </div>
  </div>
  <div class="map-section-2">
    <div class="map-view">
        map view
    </div>
    <div class="map-buildings">
        map buildings list
    </div>
  </div>
</div>