{{#if main}}
    <div class="map-container">
        <div class="map-image">
            <img src="./images/masoncampus.png" />
        </div>
        <div class="map-view">
            <img />
        </div>
    </div>
{{/if}}